<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>ViewController.swift:comments</string>
						<string>App</string>
						<string>ViewController.swift:imports:importCocoa</string>
						<string>ViewController.swift:implementation(___FILEBASENAME___: UIViewController)</string>
						<string>ViewController.swift:implementation:methods:viewDidLoad(override func viewDidLoad(\))</string>
						<string>ViewController.swift:implementation:methods:viewDidLoad:super</string>
						<string>ViewController.swift:implementation:methods:didReceiveMemoryWarning(override func didReceiveMemoryWarning(\))</string>
						<string>ViewController.swift:implementation:methods:didReceiveMemoryWarning:super</string>
						<string>App/ViewControllerTest.swift</string>
						<string>ViewControllers/BaseViewControllers/BaseViewController.swift</string>
						<string>ResourcesFolder</string>
						<string>Controllers</string>
						<string>Controllers/BaseControllers</string>
						<string>Views</string>
						<string>Views/BaseViews</string>
						<string>Views/CollectionViewCells</string>
						<string>Views/CustomViews</string>
						<string>Views/TableViewCells</string>
						<string>Models</string>
						<string>Utility</string>
						<string>Utility/Extensions</string>
						<string>Utility/Managers</string>
						<string>Analytics</string>
						<string>ThirdParty</string>
					</array>
				</dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>ViewController.h:comments</string>
						<string>ViewController.h:imports:importCocoa</string>
						<string>ViewController.h:interface(___FILEBASENAME___ : UIViewController)</string>
						<string>ViewController.m:comments</string>
						<string>ViewController.m:imports:importHeader:ViewController.h</string>
						<string>ViewController.m:extension</string>
						<string>ViewController.m:implementation:methods:viewDidLoad(- (void\)viewDidLoad)</string>
						<string>ViewController.m:implementation:methods:viewDidLoad:super</string>
						<string>ViewController.m:implementation:methods:didReceiveMemoryWarning(- (void\)didReceiveMemoryWarning)</string>
						<string>ViewController.m:implementation:methods:didReceiveMemoryWarning:super</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Concrete</key>
	<true/>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Controllers</key>
		<dict>
			<key>Path</key>
			<string>Controllers</string>
		</dict>
		<key>Managers</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Managers</string>
			</array>
			<key>Path</key>
			<string>Utility/Managers</string>
		</dict>
		<key>CustomViews</key>
		<dict>
			<key>Group</key>
			<array>
				<string>CustomViews</string>
			</array>
			<key>Path</key>
			<string>Views/CustomViews</string>
		</dict>
		<key>TableViewCells</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TableViewCells</string>
			</array>
			<key>Path</key>
			<string>Views/TableViewCells</string>
		</dict>
		<key>Views</key>
		<dict>
			<key>Path</key>
			<string>Views</string>
		</dict>
		<key>Analytics</key>
		<dict>
			<key>Path</key>
			<string>Analytics</string>
		</dict>
		<key>App</key>
		<dict>
			<key>Path</key>
			<string>App</string>
		</dict>
		<key>BaseViews</key>
		<dict>
			<key>Group</key>
			<array>
				<string>BaseViews</string>
			</array>
			<key>Path</key>
			<string>Views/BaseViews</string>
		</dict>
		<key>BaseControllers</key>
		<dict>
			<key>Group</key>
			<array>
				<string>BaseControllers</string>
			</array>
			<key>Path</key>
			<string>Controllers/BaseControllers</string>
		</dict>
		<key>Base.lproj/Main.storyboard</key>
		<dict>
			<key>SortOrder</key>
			<integer>99</integer>
			<key>Path</key>
			<string>Main.storyboard</string>
		</dict>
		<key>Utility</key>
		<dict>
			<key>Path</key>
			<string>Utility</string>
		</dict>
		<key>Models</key>
		<dict>
			<key>Path</key>
			<string>Models</string>
		</dict>
		<key>Extensions</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>Utility/Extensions</string>
		</dict>
		<key>ThirdParty</key>
		<dict>
			<key>Path</key>
			<string>ThirdParty</string>
		</dict>
		<key>CollectionViewCells</key>
		<dict>
			<key>Group</key>
			<array>
				<string>CollectionViewCells</string>
			</array>
			<key>Path</key>
			<string>Views/CollectionViewCells</string>
		</dict>
		<key>ResourcesFolder</key>
		<dict>
			<key>Path</key>
			<string>ResourcesFolder</string>
		</dict>
		<key>App/ViewControllerTest.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>App</string>
			</array>
			<key>Path</key>
			<string>ViewControllerTest.swift</string>
		</dict>
		<key>ViewControllers/BaseViewControllers/BaseViewController.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewControllers</string>
				<string>BaseViewControllers</string>
			</array>
			<key>Path</key>
			<string>BaseViewController.swift</string>
		</dict>
		<key>Storyboards</key>
		<dict>
			<key>Path</key>
			<string>Storyboards</string>
		</dict>
	</dict>
	<key>Identifier</key>
	<string>com.apple.dt.unit.singleViewApplication</string>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
</dict>
</plist>
