<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.apple.dt.unit.punicAppObjCApp</string>
	<key>Description</key>
	<string>Starter Objective-C project for PunicApp iOS projects</string>
	<key>Concrete</key>
	<true/>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.punicAppBase</string>
	</array>
	<key>Nodes</key>
	<array>
		<string>AppDelegate.h</string>
		<string>AppDelegate.m</string>
		<string>main.m</string>
		<string>ViewController.h:comments</string>
		<string>ViewController.h:imports:importHeader:BaseViewController.h</string>
		<string>ViewController.h:interface(___FILEBASENAME___ : BaseViewController)</string>
		<string>ViewController.m:comments</string>
		<string>ViewController.m:imports:importHeader:ViewController.h</string>
		<string>ViewController.m:extension</string>
		<string>ViewController.m:implementation:methods:viewDidLoad(- (void\)viewDidLoad)</string>
		<string>ViewController.m:implementation:methods:viewDidLoad:super</string>
		<string>ViewController.m:implementation:methods:didReceiveMemoryWarning(- (void\)didReceiveMemoryWarning)</string>
		<string>ViewController.m:implementation:methods:didReceiveMemoryWarning:super</string>
		<string>ViewControllers/BaseViewControllers/BaseViewController.h</string>
		<string>ViewControllers/BaseViewControllers/BaseViewController.m</string>
		<string>Views/BaseViews/BaseView.h</string>
		<string>Views/BaseViews/BaseView.m</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>main.m</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>main.m</string>
		</dict>
		<key>ViewControllers/BaseViewControllers/BaseViewController.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewControllers</string>
				<string>BaseViewControllers</string>
			</array>
			<key>Path</key>
			<string>BaseViewController.h</string>
		</dict>
		<key>ViewControllers/BaseViewControllers/BaseViewController.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewControllers</string>
				<string>BaseViewControllers</string>
			</array>
			<key>Path</key>
			<string>BaseViewController.m</string>
		</dict>
		<key>Views/BaseViews/BaseView.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>BaseViews</string>
			</array>
			<key>Path</key>
			<string>BaseView.m</string>
		</dict>
		<key>Views/BaseViews/BaseView.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>BaseViews</string>
			</array>
			<key>Path</key>
			<string>BaseView.h</string>
		</dict>
		<key>AppDelegate.h</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.h</string>
		</dict>
		<key>AppDelegate.m</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.m</string>
		</dict>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Required</key>
			<string>NO</string>
			<key>Type</key>
			<string>text</string>
			<key>Name</key>
			<string>Class Prefix</string>
			<key>Identifier</key>
			<string>classPrefix</string>
			<key>Description</key>
			<string>The prefix for all the classes in the bundle.</string>
		</dict>
	</array>
</dict>
</plist>
