<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.apple.dt.unit.punicAppObjCApp</string>
	<key>Nodes</key>
	<array>
		<string>AppDelegate.h</string>
		<string>AppDelegate.m</string>
		<string>main.m</string>
		<string>ViewController.h:comments</string>
		<string>ViewController.h:imports:importHeader:BaseViewController.h</string>
		<string>ViewController.h:interface(___FILEBASENAME___ : BaseViewController)</string>
		<string>ViewController.m:comments</string>
		<string>ViewController.m:imports:importHeader:ViewController.h</string>
		<string>ViewController.m:extension</string>
		<string>ViewController.m:implementation:methods:viewDidLoad(- (void\)viewDidLoad)</string>
		<string>ViewController.m:implementation:methods:viewDidLoad:super</string>
		<string>ViewController.m:implementation:methods:didReceiveMemoryWarning(- (void\)didReceiveMemoryWarning)</string>
		<string>ViewController.m:implementation:methods:didReceiveMemoryWarning:super</string>
		<string>App</string>
		<string>ViewControllers/BaseViewControllers/BaseViewController.h</string>
		<string>ViewControllers/BaseViewControllers/BaseViewController.m</string>
		<string>Views/BaseViews/BaseView.h</string>
		<string>Views/BaseViews/BaseView.m</string>
		<string>Views/TableViewCells</string>
		<string>Views/BaseViews/</string>
		<string>ResourcesFolder</string>
		<string>Storyboards/Auth.storyboard</string>
		<string>Controllers</string>
		<string>Controllers/BaseControllers</string>
		<string>Models</string>
		<string>Utilities</string>
		<string>Utilities/Extensions</string>
		<string>Utilities/Managers</string>
		<string>Analytics</string>
		<string>ThirdParty</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Required</key>
			<string>NO</string>
			<key>Type</key>
			<string>text</string>
			<key>Name</key>
			<string>Class Prefix</string>
			<key>Identifier</key>
			<string>classPrefix</string>
			<key>Description</key>
			<string>The prefix for all the classes in the bundle.</string>
		</dict>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Concrete</key>
	<true/>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.punicAppBase</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>App</key>
		<dict>
			<key>Path</key>
			<string>App</string>
		</dict>
		<key>BaseControllers</key>
		<dict>
			<key>Group</key>
			<array>
				<string>BaseControllers</string>
			</array>
			<key>Path</key>
			<string>Controllers/BaseControllers</string>
		</dict>
		<key>Managers</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Managers</string>
			</array>
			<key>Path</key>
			<string>Utility/Managers</string>
		</dict>
		<key>Utilities</key>
		<dict>
			<key>Path</key>
			<string>Utilities</string>
		</dict>
		<key>Storyboards</key>
		<dict>
			<key>Path</key>
			<string>Storyboards</string>
		</dict>
		<key>Controllers</key>
		<dict>
			<key>Path</key>
			<string>Controllers</string>
		</dict>
		<key>Analytics</key>
		<dict>
			<key>Path</key>
			<string>Analytics</string>
		</dict>
		<key>Views</key>
		<dict>
			<key>Path</key>
			<string>Views</string>
		</dict>
		<key>Views/TableViewCells</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
			</array>
			<key>Path</key>
			<string>Views/TableViewCells</string>
		</dict>
		<key>main.m</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>main.m</string>
		</dict>
		<key>Base.lproj/Main.storyboard</key>
		<dict>
			<key>SortOrder</key>
			<integer>99</integer>
			<key>Path</key>
			<string>Main.storyboard</string>
		</dict>
		<key>CustomViews</key>
		<dict>
			<key>Group</key>
			<array>
				<string>CustomViews</string>
			</array>
			<key>Path</key>
			<string>Views/CustomViews</string>
		</dict>
		<key>ViewControllers/BaseViewControllers/BaseViewController.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewControllers</string>
				<string>BaseViewControllers</string>
			</array>
			<key>Path</key>
			<string>BaseViewController.h</string>
		</dict>
		<key>ViewControllers/BaseViewControllers/BaseViewController.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewControllers</string>
				<string>BaseViewControllers</string>
			</array>
			<key>Path</key>
			<string>BaseViewController.m</string>
		</dict>
		<key>Extensions</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>Utility/Extensions</string>
		</dict>
		<key>Models</key>
		<dict>
			<key>Path</key>
			<string>Models</string>
		</dict>
		<key>ThirdParty</key>
		<dict>
			<key>Path</key>
			<string>ThirdParty</string>
		</dict>
		<key>Views/BaseViews/BaseView.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>BaseViews</string>
			</array>
			<key>Path</key>
			<string>BaseView.m</string>
		</dict>
		<key>Views/BaseViews/BaseView.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>BaseViews</string>
			</array>
			<key>Path</key>
			<string>BaseView.h</string>
		</dict>
		<key>Storyboards/Auth.storyboard</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Storyboards</string>
			</array>
			<key>Path</key>
			<string>Auth.storyboard</string>
		</dict>
		<key>AppDelegate.h</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.h</string>
		</dict>
		<key>CollectionViewCells</key>
		<dict>
			<key>Group</key>
			<array>
				<string>CollectionViewCells</string>
			</array>
			<key>Path</key>
			<string>Views/CollectionViewCells</string>
		</dict>
		<key>ResourcesFolder</key>
		<dict>
			<key>Path</key>
			<string>ResourcesFolder</string>
		</dict>
		<key>AppDelegate.m</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.m</string>
		</dict>
	</dict>
	<key>Description</key>
	<string>Starter Objective-C project for PunicApp iOS projects</string>
	<key>Targets</key>
	<array>
		<dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
