<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.apple.dt.unit.punicAppSwiftApp</string>
	<key>Nodes</key>
	<array>
		<string>../Podfile</string>
		<string>AppDelegate.swift</string>
		<string>ViewControllers/BaseViewControllers/BaseViewController.swift</string>
		<string>ViewControllers/ViewController.swift</string>
		<string>Views/BaseViews/BaseView.swift</string>
		<string>Views/TableViewCells</string>
		<string>Views/BaseViews/</string>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Concrete</key>
	<true/>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.punicAppBase</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>../Podfile</key>
		<dict>
			<key>Path</key>
			<string>Podfile</string>
			<key>Group</key>
			<array>
				<string>Non-iOS Resources</string>
			</array>
		</dict>
		<key>AppDelegate.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>App</string>
			</array>
			<key>Path</key>
			<string>AppDelegate.swift</string>
		</dict>
		<key>Views/BaseViews/BaseView.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>BaseViews</string>
			</array>
			<key>Path</key>
			<string>BaseView.swift</string>
		</dict>
		<key>ViewControllers/BaseViewControllers/BaseViewController.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewControllers</string>
				<string>BaseViewControllers</string>
			</array>
			<key>Path</key>
			<string>BaseViewController.swift</string>
		</dict>
		<key>ViewControllers/ViewController.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewControllers</string>
			</array>
			<key>Path</key>
			<string>ViewController.swift</string>
		</dict>
	</dict>
	<key>Description</key>
	<string>Starter Swift project for PunicApp iOS projects</string>
	<key>Project</key>
	<dict>
		<key>SharedSettings</key>
		<dict>
			<key>SWIFT_VERSION</key>
			<string>3.0</string>
		</dict>
	</dict>
</dict>
</plist>
